

#box {
    border: 3px solid black;
    border-radius: 5px;
    height: 600px;
    margin: 20px;
    background-color: lightgray;
}


#addHost {
    display: none;
    width:30%;
    margin-bottom: 50px;
    margin-top:15px;
    margin-right:10px;
    margin-left:10%;
    border:0px solid black;
    border-radius:5px;
    padding:10px;
    background-color:lightblue;
}


#addSwitch {
    display: none;
    margin-bottom: 50px;
    margin-top: 15px;
    width:30%;
    margin-left: 40%;
    border: 0px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: lightblue;
}


#addBtn{
    width:200px;
    display:inline;
    margin-left:15%;
}
#addSwitchBtn{
    width:200px;
    display:inline;
    margin-right:15%;
}
#formBtn {
   
    margin: 5px;
    margin-bottom:12px;
    
}
.form-group{
   margin-left:5%;
}
